# Byte-compiled / optimized / DLL files
__pycache__/
.idea
*.pyc
.jpg
.npy
# C extensions
*.so
*.o
*.nfs*
models/post_processing/pse/pse.cpp

# Distribution / packaging
.Python
*build/
*out/
*outputs/
*data/
*weights/
*ckpt/
*pretrain/
*.pth
*job.*
*env.sh
*.tar
*checkpoints/
*dataloader_vis/
*pretrained/
pretrained
data
vis/
cc.sh
*~
tmp/
